/* עיצוב כללי של הדף */
body {
  margin: 0;
   font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
 /* מבנה הדף */
.main-layout {
  display: flex;

}

.main-content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 65%;
}

.posts-container {

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* עיצוב הסרגל הצדדי */
.sidebar {
  width: 18%;             /* רוחב הסרגל */
  height: 100vh;            /* גובה מלא של המסך */
  border-left: 1px solid #dbdbdb;  /* קו הפרדה בצד שמאל */
  padding: 20px;            /* ריווח פנימי */
  box-sizing: border-box;
}

/* עיצוב הלוגו למעלה */
.instagramLogo {
  width: 110px;         /* רוחב הלוגו */
  height: auto;         /* שומר על פרופורציה מקורית */
  display: block;       /* כדי שהמרחקים יעבדו תקין */
  margin-right: 10px;   /* מקדם את הלוגו ימינה */
  margin-bottom: 30px;  /* רווח מתחת ללוגו */
}

.nav-links {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

/* עיצוב כל קישור בתפריט */
.nav-links a {
  display: flex;           /* יישור האייקון והטקסט באותה שורה */
  align-items: center;
  font-size: 16px;
  text-decoration: none;   /* בלי קו תחתון */
  color: black;
  margin-bottom: 30px;
  position: relative;      /* חשוב בשביל העיגול האדום */
}

/* עיצוב האייקונים */
.nav-links i {
  margin-left: 15px;       /* רווח בין האייקון לטקסט */
  font-size: 18px;
}

/* עיצוב תמונת פרופיל קטנה */
img.profile-pic {
    width: 24px; 
    height: 24px; 
    border-radius: 50%;
    object-fit: cover; 
    margin-left: 2px; 
}

.nav-group.bottom {
  margin-top: 40px; /* מפריד בין שתי הקבוצות בצורה ברורה */
}

/*סטוריז*/
.stories-container {
    width: 100%;
    overflow-x: hide;
    padding: 15px 0;
    background-color: #fff;
    border-radius: 8px;
    
}

.story-items-wrapper {
    margin: 0;
    padding: 0 15px;
    display: flex;
    gap: 1.5%;
    justify-content: center;
    
}

.story-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 70px;
    cursor: pointer;
    flex-shrink: 0;
    margin-bottom: 7px;
}

.story-circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,#f8d331, #feda75, #fa7e1e, #e95950, #bc2a8d, #8a3ab9);
    padding: 4px;
    margin-bottom: 7px;
}

.story-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;

}

.username-stories {
    font-size: 0.75em;
    color: #262626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
}


/*!!!!!!!!!!!!!!!!!!!!!!post!!!!!!!!!!!!!!!!!!!!!!!*/
.instagram-post {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.post-image img {
  width: 100%;
  display: block;
}

/* עיצוב שם מעלה הפוסט */
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  direction: rtl;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-line {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.username {
  font-weight: bold;
  margin-left: 5px;
}


.time {
  color: gray;
  font-size: 12px;
}

.three-dots svg{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/*/

/*תחילת עיצוב 4 אייקונים*/
.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.right-icons {
  display: flex;
  gap: 16px; /* ריווח בין שלושת האייקונים */
}

.left-icon {
  margin-left: 10px; /* קצת ריווח מצד שמאל */
}

.post-actions svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/*סיום עיצוב 4 אייקונים*/

.likes-count {
  padding: 0 10px;
  font-weight: bold;
}

.caption {
  padding: 10px;
  line-height: 1.4;
}

.caption .username {
  font-weight: bold;
  margin-left: 5px;
}

.comments-count,
.add-comment {
  padding: 0 10px 10px;
  color: #8e8e8e;
  font-size: 14px;
}


/*!!!!!!!!!!!!!!!!!!!!!!left side (following suggestions)!!!!!!!!!!!!!!!!*/

.main-follows-container {

  width: 280px; 
  margin-right: 20px; /* רווח מהמרכז */
  margin-top: 40px; /* רווח מהחלק העליון */
  direction: rtl;
  color: #262626;
  font-size: 15px;
  flex-shrink: 0; 
  position: sticky;
  top: 80px;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 
}

.suggestions-myprofile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.profile-details {
  flex-grow: 1;
}

.username-bold {
  font-weight: bold;
  font-size: 14px;
}

.name-light {
  color: gray;
  font-size: 13px;
}

.switch-link {
  color: #0095f6;

  text-decoration: none;
}

.suggestions-header {
  display: flex;
  justify-content: space-between;
  color: gray;
  margin-bottom: 10px;
}

.see-all {
   color: rgb(3, 2, 2);
  font-size: 14px;
  text-decoration: none;
}

.suggestion {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.suggestion-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.suggestion-details {
  flex-grow: 1;
}

.light {
  color: gray;
  font-size: 13.5px;
}

.follow-link {
  color: #0095f6;
  text-decoration: none;
  font-size: 13.5px;
}


.footer {
  color: #c7c7c7;
  font-size: 13px;
  line-height: 1.6;
  margin-top: 20px;
  width: 100%;
  text-align: right; /* יישור לימין עבור עברית */
}

.footer p {
  margin: 0;
  line-height: 1.5;
}

.footer .copyright {
  text-align: left; /* השורה של הקרדיט תלך שמאלה */
  display: block;
  margin-top: 8px;
}
