body {
    font-family: Arial, sans-serif; 
    background-color: #ffffff;
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    direction: rtl; 
}

.img-login {
    width: 50%; 
}

.instagram-login-box {
    max-width: 350px;
    width: 100%; 
    padding: 40px; 
    margin-bottom: 10px; 
    background-color: #ffffff; 
}

.btn-primary {
    background-color: #8d91fb !important; 
    border: none !important;
    font-weight: bold; 
    padding: 4px 0; 
    font-size: 15px;
}

.form-control {
    background-color: #fafafa; 
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 13px;
    padding: 9px 12px; 
}

.form-control::placeholder { 
    color: #8e8e8e;
}

a {
    color: #4aa0f1;  
    font-weight: 400; 
}

.fab.fa-facebook-square {
    color: #0095f6;  
    font-size: 18px;  
}